<div class="main-wrapper">

    <!-- Header -->
    <div class="header">

        <!-- Logo -->
        <div class="header-left">
            <a routerLink="/" class="logo">
                <img src="assets/img/logo.png" width="40" height="40" alt="">
            </a>
        </div>
        <!-- /Logo -->

        <a id="toggle_btn" href="javascript:void(0);">
            <span class="bar-icon">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </a>

        <!-- Header Title -->
        <div class="page-title-box">
            <h3>ERP Mark</h3>
        </div>
        <!-- /Header Title -->

        <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>

        <!-- Header Menu -->
        <ul class="nav user-menu">


            <li class="nav-item dropdown has-arrow main-drop">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img">
                        <!-- <img src="../assets/img/profiles/avatar-21.jpg" alt=""> -->
                        <span class="status online"></span></span>
                    <span>Admin</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/home/profile/">My Profile</a>
                    <a class="dropdown-item" routerLink="/">Logout</a>
                </div>
            </li>
        </ul>
        <!-- /Header Menu -->

        <!-- Mobile Menu -->
        <div class="dropdown mobile-user-menu">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                    class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" routerLink="/home/profile/">My Profile</a>
                <a class="dropdown-item" routerLink="/">Logout</a>
            </div>
        </div>
        <!-- /Mobile Menu -->

    </div>
    <!-- /Header -->

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span>Main</span>
                    </li>
                    <li>
                        <a routerLink="/home/dashboard/"><i class="fa fa-dashboard"></i> <span> Dashboard</span> </a>
                    </li>

                    <!-- ERPMark Admin -->
                    <!-- ERPMark Admin -->
                <!-- ERPMark Admin -->
                    <li class="menu-title">
                        <span>ERPMark</span>
                    </li>
                    <li>
                        <a routerLink="/home/admin/company"><i class="la la-building"></i> <span> Company settings</span> </a>
                    </li>
                     
                    <li>
                        <a routerLink="/home/admin/theme"><i class="la la-pencil-square"></i> <span> Theme</span> </a>
                    </li>
                    <li>
                        <a routerLink="/home/admin/local"><i class="fa fa-clock-o"></i> <span> Localization</span> </a>
                    </li>
                   
                    <li>
                        <a routerLink="/home/admin/roles"><i class="la la-key"></i> <span> Roles and Privileges</span> </a>
                    </li>

                    <!-- Superiror Admin -->
                    <!-- Superiror Admin -->
                    <!-- Superiror Admin -->
                    <li class="menu-title">
                        <span>Superior Admin</span>
                    </li>

                   
                    <li class="submenu">
                        <a href="#" class="noti-dot"><i class="la la-user"></i> <span> Employers</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a  routerLink="/home/employee/list-employee">All Employer</a></li>
                            <!-- <li><a routerLink="/home/allocate-leave/list-leave">Leaves <span class="badge badge-pill bg-primary float-right">1</span></a></li> -->
                            <li><a routerLink="/home/attendance/list-attendance">Attendance</a></li>
                            <li><a routerLink="/home/allocate-leave/list-leave">Leaves</a></li>
                            <li><a routerLink="/home/department/list-department">Departments</a></li>
                            <li><a routerLink="/home/desigination/list-desigination">Designations</a></li>
                            <li><a routerLink="/home/timesheet/list-timesheet">Timesheet</a></li>
                            <li><a routerLink="/home/resigination/resigination-list">Resigination</a></li>
                        </ul>
                    </li>

                    
                    <li class="submenu">
                        <a href="#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a  routerLink="/home/employee/list-employee">All Employees</a></li>
                            <li><a routerLink="/home/attendance/list-attendance">Attendance</a></li>
                            <li><a routerLink="/home/allocate-leave/list-leave">Leaves</a></li>
                            <li><a routerLink="/home/department/list-department">Departments</a></li>
                            <li><a routerLink="/home/desigination/list-desigination">Designations</a></li>
                            <li><a routerLink="/home/timesheet/list-timesheet">Timesheet</a></li>
                            <li><a routerLink="/home/resigination/resigination-list">Resigination</a></li>
                        </ul>
                    </li>

                  
                    <li>
                        <a routerLink="/home/attendance/list-holidays"><i class="la la-users"></i>
                            <span>Holidays</span></a>
                    </li>

                    <li>
                        <a routerLink="/home/allocate-project/list-project"><i class="la la-users"></i>
                            <span>Project Allocation</span></a>
                    </li>
                 
                   


                    <!-- Admin -->
                    <!-- Admin -->
                    <!-- Admin -->
                    
                    <li class="menu-title">
                        <span>Admin</span>
                    </li>
                   
                    <li>
                        <a routerLink="/home/employee/list-employee"><i class="la la-users"></i>
                            <span>Employee</span></a>
                    </li>
                    <li>
                        <a routerLink="/home/attendance/list-attendance"><i class="la la-users"></i>
                            <span>Attendance</span></a>
                    </li>

                    <li>
                        <a routerLink="/home/allocate-team/list-team"><i class="la la-users"></i>
                            <span>Team Allocation</span></a>
                    </li>
                    <li>
                        <a routerLink="/home/allocate-sprint/list-sprint"><i class="la la-users"></i>
                            <span>Generate Sprints</span></a>
                    </li>
                    <li>
                        <a routerLink="/home/allocate-leave/list-leave"><i class="la la-users"></i>
                            <span>Leaves</span></a>
                    </li>
                    <!-- <li>
                        <a routerLink="/home/allocate-task/list-task"><i class="la la-users"></i>
                            <span>Task Allocation</span></a>
                    </li> -->
                    <li>
                        <a routerLink="/home/timesheet/list-timesheet"><i class="la la-user-secret"></i>
                            <span>Timesheet</span></a>
                    </li>
                    <li>
                        <a routerLink="/home/resigination/resigination-list"><i class="la la-users"></i>
                            <span>Resigination</span></a>
                    </li>

                    <li class="submenu">
                        <a href="#" class="noti-dot"><i class="la la-user"></i> <span> Task Allocation</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a  routerLink="/home/allocate-task/list-task">Project 1</a></li>
                            <li><a routerLink="/home/allocate-task/list-task">Project 2 <span class="badge badge-pill bg-primary float-right">1</span></a></li>
                            <li><a routerLink="/home/allocate-task/list-task">Project 3</a></li>
                        </ul>
                    </li>


                    <!-- Employeee -->
                    <!-- Employeee -->
                    <!-- Employeee -->
                    <li class="menu-title">
                        <span>Employees</span>
                    </li>
                    <li>
                        <a routerLink="/home/allocate-leave/list-leave"><i class="la la-users"></i>
                            <span>Leaves</span></a>
                    </li>

                    <li>
                        <a routerLink="/home/timesheet/list-timesheet"><i class="la la-user-secret"></i>
                            <span>Timesheet</span></a>
                    </li>
                    <li>
                        <a routerLink="/home/attendance/list-attendance"><i class="la la-users"></i>
                            <span>Attendance</span></a>
                    </li>
                    <li>
                        <a routerLink="/home/resigination/resigination-list"><i class="la la-users"></i>
                            <span>Resigination</span></a>
                    </li>
                    <li class="submenu">
                        <a href="#" class="noti-dot"><i class="la la-user"></i> <span>Allocated Task</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a  routerLink="/home/allocate-task/list-task">Project 1</a></li>
                            <li><a routerLink="/home/allocate-task/list-task">Project 2 <span class="badge badge-pill bg-primary float-right">1</span></a></li>
                            <li><a routerLink="/home/allocate-task/list-task">Project 3</a></li>
                        </ul>
                    </li>


                    <li class="menu-title">
                        <span>Settings</span>
                    </li>

                     <li>
                        <a href="reports.html"><i class="la la-cog"></i> <span>Reports</span></a>
                    </li>

                    <li>
                        <a href="settings.html"><i class="la la-cog"></i> <span>Settings</span></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">

        <!-- Page Content -->
        <div class="content container-fluid">

            <router-outlet></router-outlet>

        </div>
        <!-- /Page Content -->

        <!-- Add Today Work Modal -->
        <div id="add_todaywork" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Today Work details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Project <span class="text-danger">*</span></label>
                                    <select class="select">
                                        <option>Office Management</option>
                                        <option>Project Management</option>
                                        <option>Video Calling App</option>
                                        <option>Hospital Administration</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label>Deadline <span class="text-danger">*</span></label>
                                    <div class="cal-icon">
                                        <input class="form-control" type="text" value="5 May 2019" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>Total Hours <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" value="100" readonly>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>Remaining Hours <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" value="60" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Date <span class="text-danger">*</span></label>
                                    <div class="cal-icon">
                                        <input class="form-control datetimepicker" type="text">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Hours <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Description <span class="text-danger">*</span></label>
                                <textarea rows="4" class="form-control"></textarea>
                            </div>
                            <div class="submit-section">
                                <button class="btn btn-primary submit-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Add Today Work Modal -->

        <!-- Edit Today Work Modal -->
        <div id="edit_todaywork" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Work Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Project <span class="text-danger">*</span></label>
                                    <select class="select">
                                        <option>Office Management</option>
                                        <option>Project Management</option>
                                        <option>Video Calling App</option>
                                        <option>Hospital Administration</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label>Deadline <span class="text-danger">*</span></label>
                                    <div class="cal-icon">
                                        <input class="form-control" type="text" value="5 May 2019" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>Total Hours <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" value="100" readonly>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>Remaining Hours <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" value="60" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Date <span class="text-danger">*</span></label>
                                    <div class="cal-icon">
                                        <input class="form-control datetimepicker" value="03/03/2019" type="text">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Hours <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" value="9">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Description <span class="text-danger">*</span></label>
                                <textarea rows="4"
                                    class="form-control">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel elit neque.</textarea>
                            </div>
                            <div class="submit-section">
                                <button class="btn btn-primary submit-btn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Edit Today Work Modal -->

        <!-- Delete Today Work Modal -->
        <div class="modal custom-modal fade" id="delete_workdetail" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-header">
                            <h3>Delete Work Details</h3>
                            <p>Are you sure want to delete?</p>
                        </div>
                        <div class="modal-btn delete-action">
                            <div class="row">
                                <div class="col-6">
                                    <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                                </div>
                                <div class="col-6">
                                    <a href="javascript:void(0);" data-dismiss="modal"
                                        class="btn btn-primary cancel-btn">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Today Work Modal -->

    </div>
    <!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->