	<!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Company</h3>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" (click)="openModal()" ><i class="fa fa-plus"></i> Add Company</a>
                
            </div>
        </div>
    </div>
    <!-- /Page Header -->




    <div class="row staff-grid-row" >
        <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3" *ngFor="let employeee of companyList" >
            <div class="profile-widget">
                <div class="profile-img">
                    <a (click)="editModal(employeee)" class="avatar">
                        <img [src]="employeee.empimg | image"
                        class="img-clup"  
                        onerror="this.src='assets/img/portfolio-image14.jpg';"
                        style="width:100% !important;" />
                        <!-- <img alt="" src="../assets/img/profiles/avatar-21.jpg"> -->
                    </a>
                </div>
                <div class="dropdown profile-action">
                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"  data-toggle="modal" (click)="editModal(employeee)" ><i class="fa fa-pencil m-r-5"></i> Edit</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                </div>
                </div>
                <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a (click)="editModal(employeee)"> Company Name</a></h4>
                <h5 class="user-name m-t-10 mb-0 text-ellipsis"><a (click)="editModal(employeee)">{{employeee.firstname}} {{employeee.lastname}}</a></h5>
                <div class="small text-muted">{{employeee.designation}} </div>
                <!-- <a href="chat.html" class="btn btn-white btn-sm m-t-10">Message</a> -->
                <a (click)="editModal(employeee)" class="btn btn-white btn-sm m-t-10">View Profile</a>
            </div>
        </div>
       
</div>



<!-- Add Client Modal -->
<div id="add_company" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{title}} Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



            <form [formGroup]="CompanyForm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>First Name <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" id="firstName" formControlName="firstName" [(ngModel)]="companyObj.firstName" value="Dreamguy's Technologies">
                            <div class="error" *ngIf="CompanyForm.controls['firstName'].hasError('required') && CompanyForm.controls['firstName'].touched">
                                First Name is Required</div>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control " value="Daniel Porter" id="lastPerson" [(ngModel)]="companyObj.lastPerson" formControlName="lastPerson"  type="text">
                            <div class="error" *ngIf="CompanyForm.controls['lastPerson'].hasError('required') && CompanyForm.controls['lastPerson'].touched">
                                Last Name is Required</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Birth Date <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                <input [owlDateTime]="dt1" [min]="minDate" class="form-control" formControlName="birthDate"
                                [(ngModel)]="companyObj.birthDate" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                <div class="error" *ngIf="CompanyForm.controls['birthDate'].hasError('required') && CompanyForm.controls['birthDate'].touched">
                                    Birth date is Required</div>
                            </div>                          
                              

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Gender</label>
                                    <select class="select form-control" [(ngModel)]="companyObj.gender" formControlName="gender">
                                        <option value="male selected">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                    <div class="error" *ngIf="CompanyForm.controls['gender'].hasError('required') && CompanyForm.controls['gender'].touched">
                                        Gender is Required</div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Company Name <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" id="companyName" formControlName="companyName" [(ngModel)]="companyObj.companyName" value="Dreamguy's Technologies">
                            <div class="error" *ngIf="CompanyForm.controls['companyName'].hasError('required') && CompanyForm.controls['companyName'].touched">
                                Company Name is Required</div>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Contact Person</label>
                            <input class="form-control " value="Daniel Porter" id="contactPerson" [(ngModel)]="companyObj.contactPerson" formControlName="contactPerson"  type="text">
                            <div class="error" *ngIf="CompanyForm.controls['contactPerson'].hasError('required') && CompanyForm.controls['contactPerson'].touched">
                                Contact Person is Required</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Address</label>
                            <input class="form-control " id="address" formControlName="address"  [(ngModel)]="companyObj.address" value="3864 Quiet Valley Lane, Sherman Oaks, CA, 91403" type="text">
                            <div class="error" *ngIf="CompanyForm.controls['address'].hasError('required') && CompanyForm.controls['address'].touched">
                                Address is Required</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label>Country</label>
                            <select class="form-control select" id="country" formControlName="country" [(ngModel)]="companyObj.country">
                                <option>USA</option>
                                <option>United Kingdom</option>
                            </select>
                            <div class="error" *ngIf="CompanyForm.controls['country'].hasError('required') && CompanyForm.controls['country'].touched">
                                Country is Required</div>
                        </div>
                    </div>
              
                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" value="danielporter@example.com" [(ngModel)]="companyObj.email" type="email" id="email" formControlName="email">
                            <div class="error" *ngIf="CompanyForm.controls['email'].hasError('required') && CompanyForm.controls['email'].touched">
                                Email is Required</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <!-- <input class="form-control" value="818-978-7102" type="text" [(ngModel)]="companyObj.phoneNumber" id="phoneNumber" formControlName="phoneNumber"> -->
                           
                            <ngx-intl-tel-input [cssClass]="'form-control'" [enablePlaceholder]="true" [searchCountryFlag]="true"
                            [maxLength]="15"  [separateDialCode]="separateDialCode"
                              [(ngModel)]="companyObj.phoneNumber" [selectedCountryISO]="selectedCorpPreMobileNo"
                            formControlName="phoneNumber" [onlyCountries]="CountryISO"  name="phone">
                          </ngx-intl-tel-input>

                            <div class="error" *ngIf="CompanyForm.controls['phoneNumber'].hasError('required') && CompanyForm.controls['phoneNumber'].touched">
                                Phone Number is Required</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input class="form-control" value="818-635-5579" type="text" [(ngModel)]="companyObj.mobileNumber" id="mobileNumber" formControlName="mobileNumber">
                            <div class="error" *ngIf="CompanyForm.controls['mobileNumber'].hasError('required') && CompanyForm.controls['mobileNumber'].touched">
                                Mobile Number is Required</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Number of users</label>
                            <input class="form-control" value="10" type="text" [(ngModel)]="companyObj.numberOfUsers" id="numberOfUsers" formControlName="numberOfUsers">
                            <div class="error" *ngIf="CompanyForm.controls['numberOfUsers'].hasError('required') && CompanyForm.controls['numberOfUsers'].touched">
                                Number of users is Required</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" value="Test@123" [(ngModel)]="companyObj.password" type="password" id="password" formControlName="password">
                            <div class="error" *ngIf="CompanyForm.controls['password'].hasError('required') && CompanyForm.controls['password'].touched">
                                Password is Required</div>
                                
                                <div class="error"
                                *ngIf="CompanyForm.get('password').hasError('minlength') && CompanyForm.get('password').touched">
                                Please enter a new password at least 8 characters.
                        
                              </div>
                              <div class="error"
                                *ngIf="CompanyForm.get('password').hasError('maxlength') && CompanyForm.get('password').touched">
                                Please enter a new password no more than 16 characters.
                        
                              </div>
                              <div class="error"
                                *ngIf="CompanyForm.get('password').hasError('pattern') && CompanyForm.get('password').touched">
                                Must contain at least one number and one uppercase and special character
                        
                              </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input class="form-control" value="Test@123" pattern="{{ companyObj.password }}" [(ngModel)]="companyObj.confirmPassword" pattern="{{ companyObj.password }}" type="password" id="confirmPassword" formControlName="confirmPassword">
                            <div class="error" *ngIf="CompanyForm.controls['confirmPassword'].hasError('required') && CompanyForm.controls['confirmPassword'].touched">
                               Confirm Password is Required</div>
                               <div class="error" *ngIf="CompanyForm.get('confirmPassword').hasError('pattern')">
                                Password dosen't match</div>


          <div class="error error-position" *ngIf="CompanyForm.get('confirmPassword').hasError('pattern')">
            Password & Confirm Password does not match.</div>
                        </div>
                    </div>
                </div>

          
            

                       
                <div class="submit-section">
                    <button class="btn btn-primary submit-btn" *ngIf="title === 'Add' " (click)="Save()">Save</button>
                    <button class="btn btn-primary submit-btn" *ngIf="title === 'Edit' " (click)="Edit()">Update</button>
                </div>

            </form>





            </div>
                </div>
                </div>
            </div>