<div class="content container-fluid">
				
    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Leaves</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home/dashboard/">Dashboard</a></li>
                    <li class="breadcrumb-item active">Leaves</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" (click)="openModal()"><i class="fa fa-plus"></i> Add Leave</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->



    <!-- Leave Statistics -->
    <div class="row">
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Today Presents</h6>
                <h4>12 / 60</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Planned Leaves</h6>
                <h4>8 <span>Today</span></h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Unplanned Leaves</h6>
                <h4>0 <span>Today</span></h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stats-info">
                <h6>Pending Requests</h6>
                <h4>12</h4>
            </div>
        </div>
    </div>
    <!-- /Leave Statistics -->
    
    <!-- Search Filter -->
    <div class="row filter-row">
       <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
            <div class="form-group form-focus">
                <input type="text" class="form-control floating">
                <label class="focus-label">Employee Name</label>
            </div>
       </div>
       <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
            <div class="form-group form-focus select-focus">
                <select class="select floating"> 
                    <option> -- Select -- </option>
                    <option>Casual Leave</option>
                    <option>Medical Leave</option>
                    <option>Loss of Pay</option>
                </select>
                <label class="focus-label">Leave Type</label>
            </div>
       </div>
       <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12"> 
            <div class="form-group form-focus select-focus">
                <select class="select floating"> 
                    <option> -- Select -- </option>
                    <option> Pending </option>
                    <option> Approved </option>
                    <option> Rejected </option>
                </select>
                <label class="focus-label">Leave Status</label>
            </div>
       </div>
       <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
            <div class="form-group form-focus">
                <div class="cal-icon">
                    <input class="form-control floating datetimepicker" type="text">
                </div>
                <label class="focus-label">From</label>
            </div>
        </div>
       <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
            <div class="form-group form-focus">
                <div class="cal-icon">
                    <input class="form-control floating datetimepicker" type="text">
                </div>
                <label class="focus-label">To</label>
            </div>
        </div>
       <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">  
            <a href="#" class="btn btn-success btn-block"> Search </a>  
       </div>     
    </div>
    <!-- /Search Filter -->
    
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>Employee</th>
                            <th>Leave Type</th>
                            <th>From</th>
                            <th>To</th>
                            <th>No of Days</th>
                            <th>Reason</th>
                            <th class="text-center">Status</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let leaveList of leaveLister">
                            <td>
                                <h2 class="table-avatar">
                                    <a href="profile.html" class="avatar"><img alt="" src="assets/img/profiles/avatar-09.jpg"></a>
                                    <a href="#">{{leaveList.firstname}} <span>Web Developer</span></a>
                                </h2>
                            </td>
                            <td>Casual Leave</td>
                            <td>{{leaveList.fromdate}}</td>
                            <td>{{leaveList.todate}}</td>
                            <td>{{leaveList.noofleave}}</td>
                            <td>{{leaveList.message}}</td>
                            <td class="text-center">
                                <div class="dropdown action-label">
                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-dot-circle-o text-purple"></i> New
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-purple"></i> New</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-info"></i> Pending</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#approve_leave"><i class="fa fa-dot-circle-o text-success"></i> Approved</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-danger"></i> Declined</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" (click)="editModal(leaveList)" ><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_approve"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Leave Modal -->
<div id="add_leave" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{title}} Leave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="Leaveform">


                        <div class="form-group">
                            <label class="col-form-label">Company ID <span class="text-danger">*</span></label>
                            <input disabled class="form-control floating" type="text" [(ngModel)]="leaveObj.opCompanyId"  formControlName="opCompanyId" id="opCompanyId">
                            <div  class="error" *ngIf="Leaveform.controls['opCompanyId'].hasError('required') && Leaveform.controls['opCompanyId'].touched">
                                Company ID is Required</div>
                        </div>



                        <div class="form-group">
                            <label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
                            <input disabled class="form-control floating" type="text" [(ngModel)]="leaveObj.opEmployeeId"  formControlName="opEmployeeId" id="opEmployeeId">
                            <div  class="error" *ngIf="Leaveform.controls['opEmployeeId'].hasError('required') && Leaveform.controls['opEmployeeId'].touched">
                                Employee ID is Required</div>
                        </div>


                            <div class="form-group">
                                <label class="col-form-label">Leave Type  <span class="text-danger">*</span></label>
                                <p-dropdown optionLabel="leavetype"  optionValue="leavetype" [options]="leavecat" [virtualScroll]="true" itemSize="30" [(ngModel)]="leaveObj.opleavetype" formControlName="opleavetype" [filter]="true"></p-dropdown>
                                <div class="error" *ngIf="Leaveform.controls['opleavetype'].hasError('required') && Leaveform.controls['opleavetype'].touched">
                                    Leave Type is Required</div>
                            </div>

                                <div class="form-group">
                                    <label class="col-form-label">Start Date  <span class="text-danger">*</span></label>
                                    <input [owlDateTime]="dt1" [min]="minDate" class="form-control" formControlName="opDatestart"
                                     [(ngModel)]="leaveObj.opDatestart" [owlDateTimeTrigger]="dt1" placeholder="Date">
                                     <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
    
                                    <div class="error" *ngIf="Leaveform.controls['opDatestart'].hasError('required') && Leaveform.controls['opDatestart'].touched">
                                        Date  is  Required</div>
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label">End Date  <span class="text-danger">*</span></label>
                                    <input [owlDateTime]="dt2" [min]="minDate" class="form-control" formControlName="opDateEnd"
                                     [(ngModel)]="leaveObj.opDateEnd" [owlDateTimeTrigger]="dt2" placeholder="Date">
                                     <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
    
                                    <div class="error" *ngIf="Leaveform.controls['opDateEnd'].hasError('required') && Leaveform.controls['opDateEnd'].touched">
                                       End date is  Required</div>
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label">Number of days<span class="text-danger">*</span></label>
                                    <input class="form-control" [(ngModel)]="leaveObj.opNodays" type="text" formControlName="opNodays" id="opNodays">
                                    <div class="error" *ngIf="Leaveform.controls['opNodays'].hasError('required') && Leaveform.controls['opNodays'].touched">
                                        No of Days is Required</div>
    
                                </div>

                            <div class="form-group">
                                <label class="col-form-label">Leave Reason <span class="text-danger">*</span></label>
                                <input class="form-control" [(ngModel)]="leaveObj.opReason" type="text" formControlName="opReason" id="opReason">
                                <div class="error" *ngIf="Leaveform.controls['opReason'].hasError('required') && Leaveform.controls['opReason'].touched">
                                    Reason is Required</div>

                            </div>

             
                  
                    <!-- <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div> -->

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" (click)="goLeaveinsert()">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Leave Modal -->

<!-- Edit Leave Modal -->
<div id="edit_leave" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Leave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Leave Type <span class="text-danger">*</span></label>
                        <select class="select">
                            <option>Select Leave Type</option>
                            <option>Casual Leave 12 Days</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>From <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" value="01-01-2019" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>To <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" value="01-01-2019" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Number of days <span class="text-danger">*</span></label>
                        <input class="form-control" readonly type="text" value="2">
                    </div>
                    <div class="form-group">
                        <label>Remaining Leaves <span class="text-danger">*</span></label>
                        <input class="form-control" readonly value="12" type="text">
                    </div>
                    <div class="form-group">
                        <label>Leave Reason <span class="text-danger">*</span></label>
                        <textarea rows="4" class="form-control">Going to hospital</textarea>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Leave Modal -->

<!-- Approve Leave Modal -->
<div class="modal custom-modal fade" id="approve_leave" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Leave Approve</h3>
                    <p>Are you sure want to approve for this leave?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Approve</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Decline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Approve Leave Modal -->

<!-- Delete Leave Modal -->
<div class="modal custom-modal fade" id="delete_approve" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Leave</h3>
                    <p>Are you sure want to delete this leave?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Leave Modal -->

<!-- /Page Wrapper -->
