	<!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Employee</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/home/dashboard/">Dashboard</a></li>
                    <li class="breadcrumb-item active">Employee</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a href="#" class="btn add-btn" data-toggle="modal" (click)="openModal()" ><i class="fa fa-plus"></i> Add Employee</a>
                
            </div>
        </div>
    </div>
    <!-- /Page Header -->















    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3">  
            <div class="form-group form-focus">
                <input type="text" class="form-control floating">
                <label class="focus-label">Employee ID</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">  
            <div class="form-group form-focus">
                <input type="text" class="form-control floating">
                <label class="focus-label">Employee Name</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3"> 
            <div class="form-group form-focus select-focus">
                <select class="select floating"> 
                    <option>Select Branch</option>
                    <option *ngFor="let branches of opSelectBranch">{{branches.branch}}</option>
                </select>
                <label class="focus-label">Branch</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">  
            <a href="#" class="btn btn-success btn-block"> Search </a>  
        </div>     
    </div>
    <!-- Search Filter -->
    
    <div class="row staff-grid-row" >
        <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3" *ngFor="let employeee of employeerList" >
            <div class="profile-widget">
                <div class="profile-img">
                    <a href="client-profile.html" class="avatar"><img alt="" src="../assets/img/profiles/avatar-21.jpg"></a>
                </div>
                <div class="dropdown profile-action">
                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"  data-toggle="modal" (click)="editModal(employeee)" ><i class="fa fa-pencil m-r-5"></i> Edit</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                </div>
                </div>
                <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="client-profile.html"> Company Name</a></h4>
                <h5 class="user-name m-t-10 mb-0 text-ellipsis"><a href="client-profile.html">{{employeer.firstname}} Employeee name</a></h5>
                <div class="small text-muted">{{employeer.designation}} Employeee position</div>
                <a href="chat.html" class="btn btn-white btn-sm m-t-10">Message</a>
                <a href="client-profile.html" class="btn btn-white btn-sm m-t-10">View Profile</a>
            </div>
        </div>
       
</div>
<!-- /Page Content -->

<!-- Add Client Modal -->
<div id="add_client" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{title}} Employeee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="EmployeeeForm">
                    <div class="row">
                     
                        <div class="col-md-6">  
                            <div class="form-group">
                                <label class="col-form-label">Company ID <span class="text-danger">*</span></label>
                                <input disabled class="form-control floating" type="text" [(ngModel)]="employeer.opCompanyId"  formControlName="opCompanyId" id="opCompanyId">
                                <div  class="error" *ngIf="EmployeeeForm.controls['opCompanyId'].hasError('required') && EmployeeeForm.controls['opCompanyId'].touched">
                                    Company ID is Required</div>
                            </div>
                        </div>

                        <div class="col-md-6">  
                            <div class="form-group">
                                <label class="col-form-label">Employeer ID <span class="text-danger">*</span></label>
                                <input disabled class="form-control floating" type="text" [(ngModel)]="employeer.opEmployeeId"  formControlName="opEmployeeId" id="opEmployeeId">
                                <div  class="error" *ngIf="EmployeeeForm.controls['opEmployeeId'].hasError('required') && EmployeeeForm.controls['opEmployeeId'].touched">
                                    Employeer ID is Required</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">First Name <span class="text-danger">*</span></label>
                                <input class="form-control" [(ngModel)]="employeer.opFirstName" type="text" formControlName="opFirstName" id="opFirstName">
                                <div class="error" *ngIf="EmployeeeForm.controls['opFirstName'].hasError('required') && EmployeeeForm.controls['opFirstName'].touched">
                                    First Name is Required</div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Last Name</label>
                                <input class="form-control" type="text" [(ngModel)]="employeer.opLastName"  formControlName="opLastName" id="opLastName">
                                <div class="error" *ngIf="EmployeeeForm.controls['opLastName'].hasError('required') && EmployeeeForm.controls['opLastName'].touched">
                                    Last Name is Required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Role <span class="text-danger">*</span></label>
                                <p-dropdown optionLabel="role"  optionValue="roleId" [options]="roleList" [virtualScroll]="true" itemSize="30" [(ngModel)]="employeer.opRole" formControlName="opRole" [filter]="true"></p-dropdown>
                                <div class="error" *ngIf="EmployeeeForm.controls['opRole'].hasError('required') && EmployeeeForm.controls['opRole'].touched">
                                    Role is Required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Branch <span class="text-danger">*</span></label>
                                <p-dropdown optionLabel="branch"  optionValue="branchid" [options]="branchList" [virtualScroll]="true" itemSize="30" [(ngModel)]="employeer.opSelectBranch" formControlName="opSelectBranch" [filter]="true"></p-dropdown>
<!-- 
                                <select class="form-control" [(ngModel)]="employeer.opSelectBranch" formControlName="opSelectBranch" id="opSelectBranch">
                                    <option value="Select">Select</option>
                                    <option value="Branch">Branch</option>
                                    <option value="Branch">Branch</option>
                                </select> -->
                                <div class="error" *ngIf="EmployeeeForm.controls['opSelectBranch'].hasError('required') && EmployeeeForm.controls['opSelectBranch'].touched">
                                    Branch is Required</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Date of join <span class="text-danger">*</span></label>
                                <input [owlDateTime]="dt1" [min]="minDate" class="form-control" formControlName="opDateOfJoin"
                                 [(ngModel)]="employeer.opDateOfJoin" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                                 <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>

                                <div class="error" *ngIf="EmployeeeForm.controls['opDateOfJoin'].hasError('required') && EmployeeeForm.controls['opDateOfJoin'].touched">
                                    Date of join is  Required</div>
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Employeer Designation</label>
                                <p-dropdown optionLabel="designation"  optionValue="designationId" [options]="designationList" [virtualScroll]="true" itemSize="30" [(ngModel)]="employeer.opEmpDesg" formControlName="opEmpDesg" [filter]="true"></p-dropdown>

                                <!-- <select class="form-control" [(ngModel)]="employeer.opEmpDesg" formControlName="opEmpDesg" id="opEmpDesg">
                                    <option value="Designation">Designation</option>
                                    <option value="Designation">Designation</option>
                                    <option value="Designation">Designation</option>
                                    
                                </select> -->
                            </div>
            
                            <div class="error" *ngIf="EmployeeeForm.controls['opEmpDesg'].hasError('required') && EmployeeeForm.controls['opEmpDesg'].touched">
                                Designation is Required</div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Gender</label>
                                <select class="form-control" [(ngModel)]="employeer.opGender" formControlName="opGender" id="opGender">
                                    <option value="Select">Select</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    
                                </select>
                            </div>
            
                            <div class="error" *ngIf="EmployeeeForm.controls['opGender'].hasError('required') && EmployeeeForm.controls['opGender'].touched">
                                Gender is Required</div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Date of birth <span class="text-danger">*</span></label>
                                <input [owlDateTime]="dt2" [min]="joinDate" class="form-control" formControlName="opDateOfBirth"
                                 [(ngModel)]="employeer.opDateOfBirth"  [owlDateTimeTrigger]="dt2" placeholder="Date of birth">
                                                     <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>

                                <div class="error" *ngIf="EmployeeeForm.controls['opDateOfBirth'].hasError('required') && EmployeeeForm.controls['opDateOfBirth'].touched">
                                    Date of birth is  Required</div>
                            </div>
                        </div>

                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Address <span class="text-danger">*</span></label>
                                <textarea class="form-control floating" type="text" [(ngModel)]="employeer.opAddress"  formControlName="opAddress" id="opAddress" rows="3"></textarea>
                                <div class="error" *ngIf="EmployeeeForm.controls['opAddress'].hasError('required') && EmployeeeForm.controls['opAddress'].touched">
                                    Address is Required</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Country </label>
                                <p-dropdown optionLabel="name"  optionValue="name" [options]="allCountries" [virtualScroll]="true" itemSize="30" [(ngModel)]="employeer.opCountry" formControlName="opCountry" [filter]="true"></p-dropdown>

                                <div class="error" *ngIf="EmployeeeForm.controls['opCountry'].hasError('required') && EmployeeeForm.controls['opCountry'].touched">
                                    Country is Required</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Phone </label>
                                <ngx-intl-tel-input [cssClass]="'form-control'" [enablePlaceholder]="true" [searchCountryFlag]="true"
                      [maxLength]="15"  [separateDialCode]="separateDialCode"
                        [(ngModel)]="employeer.opPhoneId" 
                      formControlName="opPhoneId" [onlyCountries]="CountryISO"  name="phone">
                    </ngx-intl-tel-input>
                                <!-- <input class="form-control" type="text" [(ngModel)]="employeer.opPhoneId" formControlName="opPhoneId" id="opPhoneId"> -->
                                <div class="error" *ngIf="EmployeeeForm.controls['opPhoneId'].hasError('required') && EmployeeeForm.controls['opPhoneId'].touched">
                                    Phone is Required</div>
                                    <div class="error error-position" *ngIf="EmployeeeForm.controls['opPhoneId'].hasError('validatePhoneNumber') && EmployeeeForm.controls['opPhoneId'].touched">
                                        Ouch! Invalid number  </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Email <span class="text-danger">*</span></label>
                                <input class="form-control floating" type="email" [(ngModel)]="employeer.opEmailId"  (focusout)="focusOutEmailId($event)" formControlName="opEmailId" id="opEmailId">
                                <div class="error" *ngIf="EmployeeeForm.controls['opEmailId'].hasError('required') && EmployeeeForm.controls['opEmailId'].touched">
                                    Email Id is Required</div>
                                    <div class="error" *ngIf="EmployeeeForm.controls['opEmailId'].hasError('alreadyExist') && EmployeeeForm.controls['opEmailId'].touched">
                                        Email Id already exists</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <input class="form-control" type="password" [(ngModel)]="employeer.opPassword"  formControlName="opPassword" id="opPassword">
                                <div class="error" *ngIf="EmployeeeForm.controls['opPassword'].hasError('required') && EmployeeeForm.controls['opPassword'].touched">
                                    Password is Required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Confirm Password</label>
                                <input class="form-control" type="password" [(ngModel)]="employeer.opConfirmPassword" pattern="{{ employeer.opPassword }}" formControlName="opConfirmPassword" id="opConfirmPassword">
                                <div class="error" *ngIf="EmployeeeForm.controls['opConfirmPassword'].hasError('required') && EmployeeeForm.controls['opConfirmPassword'].touched">
                                   Confirm Password is Required</div>
                                   <div class="error" *ngIf="EmployeeeForm.get('opConfirmPassword').hasError('pattern')">
                                    Password dosen't match</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Pan card </label>
                                <input class="form-control" type="text" [(ngModel)]="employeer.opPanNo" formControlName="opPanNo" id="opPanNo">
                                <div class="error" *ngIf="EmployeeeForm.controls['opPanNo'].hasError('required') && EmployeeeForm.controls['opPanNo'].touched">
                                    Pan Card is Required</div>
                            </div>
                        </div>

                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Aadhar Card </label>
                                <input class="form-control" type="text" [(ngModel)]="employeer.opAadharNo" formControlName="opAadharNo" id="opAadharNo">
                                <div class="error" *ngIf="EmployeeeForm.controls['opAadharNo'].hasError('required') && EmployeeeForm.controls['opAadharNo'].touched">
                                    Aadhar is Required</div>
                            </div>
                        </div>

                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Bank name </label>
                                <!-- <select class="form-control" [(ngModel)]="employeer.opBankName" formControlName="opBankName" id="opBankName">
                                    <option value="select">Select</option>
                                    <option *ngFor="let banks of allBanks" value="{{banks.keys}}">{{banks.keyName}}</option>
                                </select> -->
                                <p-dropdown optionLabel="opBankName"  optionValue="keys" [options]="allBanks" [virtualScroll]="true" itemSize="30" [(ngModel)]="employeer.opBankName" formControlName="opBankName" [filter]="true"></p-dropdown>

                                <div class="error" *ngIf="EmployeeeForm.controls['opBankName'].hasError('required') && EmployeeeForm.controls['opBankName'].touched">
                                    Bank Name is Required</div>
                            </div>
                        </div>

                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">IFSC code </label>
                                <input class="form-control" type="text" [(ngModel)]="employeer.opIFSC" formControlName="opIFSC" id="opIFSC">
                                <div class="error" *ngIf="EmployeeeForm.controls['opIFSC'].hasError('required') && EmployeeeForm.controls['opIFSC'].touched">
                                    IFSC is Required</div>
                            </div>
                        </div>
                
                           
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Account number </label>
                                <input class="form-control" type="text" [(ngModel)]="employeer.opAcctNo" formControlName="opAcctNo" id="opAcctNo">
                                <div class="error" *ngIf="EmployeeeForm.controls['opAcctNo'].hasError('required') && EmployeeeForm.controls['opAcctNo'].touched">
                                    Account number is Required</div>
                            </div>
                        </div>

                           
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Passport </label>
                                <input class="form-control" type="text" [(ngModel)]="employeer.opPassport" formControlName="opPassport" id="opPassport">
                                <div class="error" *ngIf="EmployeeeForm.controls['opPassport'].hasError('required') && EmployeeeForm.controls['opPassport'].touched">
                                    Passport is Required</div>
                            </div>
                        </div>
                           
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Team name </label>
                                <p-multiSelect  optionLabel="teamname"  optionValue="teamId" [options]="teamList" [virtualScroll]="true" itemSize="30" [(ngModel)]="employeer.opTeamName" formControlName="opTeamName" [filter]="true"></p-multiSelect>

                                <!-- <select class="form-control" [(ngModel)]="employeer.opTeamName" formControlName="opTeamName" id="opTeamName">
                                    <option value="select">Select</option>
                                    <option value="TeamName">TeamName</option>
                                    <option value="TeamName">TeamName</option>
                                </select> -->
                                <div class="error" *ngIf="EmployeeeForm.controls['opTeamName'].hasError('required') && EmployeeeForm.controls['opTeamName'].touched">
                                    Team name is Required</div>
                            </div>
                        </div>
                        
                    

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Employeer Department</label>
                                <p-dropdown optionLabel="department"  optionValue="departmentId" [options]="departmentList" [virtualScroll]="true" itemSize="30" [(ngModel)]="employeer.opEmpDepart" formControlName="opEmpDepart" [filter]="true"></p-dropdown>
                            </div>
                            <div class="error" *ngIf="EmployeeeForm.controls['opEmpDepart'].hasError('required') && EmployeeeForm.controls['opEmpDepart'].touched">
                                Department is Required</div>

                        </div>

                        <div class="col-md-6">
                            <div class="box">
                                    <!-- {{employeer.opEmpImg}} -->
                            <img [src]="employeer.opEmpImg"
                            class="img-clup"  
                            onerror="this.src='assets/img/portfolio-image14.jpg';"
                            style="width:100% !important;" />
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Employee Image</label>
                                <input type="file" name="myfile" id="upload" [(ngModel)]="employeer.opEmpImg" formControlName="opEmpImg" id="opEmpImg" class="file"  (change)="getEmployeerImg($event)"/>
                            <div class="error" *ngIf="EmployeeeForm.controls['opEmpImg'].hasError('required') && EmployeeeForm.controls['opEmpImg'].touched">
                                Employee Img is Required</div>

                        </div>

                    </div>
                    </div>
                    
                    







                    <div class="table-responsive m-t-15" *ngIf="menuType === 'Branch' ">
                        <table class="table table-striped custom-table">
                            <thead>
                                <tr>
                                    <th>Module Permission</th>
                                    <th class="text-center">Read</th>
                                    <th class="text-center">Write</th>
                                    <th class="text-center">Create</th>
                                    <th class="text-center">Delete</th>
                                    <th class="text-center">Import</th>
                                    <th class="text-center">Export</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Holidays</td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Leaves</td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Clients</td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Projects</td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tasks</td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Chats</td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Assets</td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Timing Sheets</td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>




                    
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" (click)="goEmployeerLogin()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Client Modal -->

<!-- Edit Client Modal -->
<div id="edit_client" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">First Name <span class="text-danger">*</span></label>
                                <input class="form-control" value="Barry" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Last Name</label>
                                <input class="form-control" value="Cuda" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Username <span class="text-danger">*</span></label>
                                <input class="form-control" value="barrycuda" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Email <span class="text-danger">*</span></label>
                                <input class="form-control floating" value="barrycuda@example.com" type="email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <input class="form-control" value="barrycuda" type="password">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Confirm Password</label>
                                <input class="form-control" value="barrycuda" type="password">
                            </div>
                        </div>
                        <div class="col-md-6">  
                            <div class="form-group">
                                <label class="col-form-label">Client ID <span class="text-danger">*</span></label>
                                <input class="form-control floating" value="CLT-0001" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Phone </label>
                                <input class="form-control" value="9876543210" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Company Name</label>
                                <input class="form-control" type="text" value="Global Technologies">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive m-t-15">
                        <table class="table table-striped custom-table">
                            <thead>
                                <tr>
                                    <th>Module Permission</th>
                                    <th class="text-center">Read</th>
                                    <th class="text-center">Write</th>
                                    <th class="text-center">Create</th>
                                    <th class="text-center">Delete</th>
                                    <th class="text-center">Import</th>
                                    <th class="text-center">Export</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Projects</td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tasks</td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Chat</td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Estimates</td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Invoices</td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Timing Sheets</td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                    <td class="text-center">
                                        <input checked="" type="checkbox">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Client Modal -->

<!-- Delete Client Modal -->
<div class="modal custom-modal fade" id="delete_client" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Client</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Client Modal -->